:root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "DM Sans";
  text-align: center;
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background: linear-gradient(
    45deg,
    rgba(244, 229, 11, 1) 0%,
    rgba(5, 5, 5, 1) 21%,
    rgba(5, 5, 5, 1) 50%,
    rgba(5, 5, 5, 1) 77%,
    rgba(244, 229, 11, 1) 100%
  );
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 29px;
  color: #e7be09;
  margin: 0;
}

header img {
  width: 50px;
  height: 50px;
  align-self: center;
}

main {
  background-color: #ffe600;
}

.selectGen {
  border: none;
  width: 250px;
  height: 30px;
  background-color: rgb(219, 235, 235);
  text-align: center;
  margin-top: 40px;
  border-radius: 8px;
  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 1px 5px 1px rgba(176, 196, 211, 0.87);
  cursor: pointer;
}

.selectGen option {
  width: 100%;
  background-color: rgb(219, 235, 235);
  font-family: "Noto Sans";
  font-size: 14px;
}

.text-intro {
  font-size: 20px;
  margin: 25px auto;
}

.botons {
  margin-bottom: 2rem;
}

.botons .equipment-1,
.botons .equipment-2,
.botons .equipment-3 {
  border: none;
  border-radius: 8px;
  width: 180px;
  height: 30px;
  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  box-shadow: 2px 1px 5px 1px rgba(176, 196, 211, 0.87);
  cursor: pointer;
}

.botons button:hover {
  background-color: rgb(143, 12, 12);
  color: #ffe600;
  box-shadow: 2px 1px 5px 1px rgb(100, 9, 9);
}

.botons .equipment-2 {
  margin: 0 20px;
}

.ubicate-img {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
}

.ubicate-img img {
  width: 380px;
  border-radius: 8px;
  box-shadow: 2px 1px 5px 1px #e7be09;
}

.ubicate-img img:hover {
  transform: scale(1.05);
}

.photo-team img {
  width: 80%;
  object-fit: contain;
}

.footer-page {
  display: flex;
  background-color: rgb(14, 13, 13);
}

.footer-page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  width: 50%;
  margin-left: 100px;
}

.footer-page ul li {
  justify-content: left;
  color: rgb(250, 250, 243);
  font-size: 20px;
  cursor: pointer;
}

.footer-page div {
  width: 50%;
}

.footer-page img {
  width: 120px;
  margin: 32px auto;
}

.footer-page ul li:nth-child(1) {
  width: 160px;
  background-image: url(./icons/facebook.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.footer-page ul li:nth-child(2) {
  width: 160px;
  background-image: url(./icons/instagram.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.footer-page ul li:nth-child(3) {
  width: 130px;
  background-image: url(./icons/twitter.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.footer-page ul li:nth-child(4) {
  width: 130px;
  background-image: url(./icons/tiktok.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.footer-page ul li:hover {
  color: rgba(244, 229, 11, 1);
}

.footer-page img:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .footer-page ul {
    width: 70%;
    margin-left: 50px;
  }

  .footer-page div {
    width: 30%;
  }

  .footer-page ul li:nth-child(1) {
    width: 180px;
  }

  .footer-page ul li:nth-child(2) {
    width: 180px;
  }

  .footer-page ul li:nth-child(3) {
    width: 150px;
  }

  .footer-page ul li:nth-child(4) {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .footer-page ul {
    width: 75%;
    margin-left: 5px;
  }

  .footer-page div {
    width: 25%;
  }

  .footer-page ul li:nth-child(2) {
    margin-left: -10px;
  }

  .footer-page ul li:nth-child(3) {
    margin-left: -10px;
  }

  .footer-page ul li:nth-child(4) {
    margin-left: -10px;
  }

  .ubicate-img img {
    width: 330px;
  }
}

@media (max-width: 425px) {
  h1 {
    padding: 25px 5px;
    font-size: 20px;
  }

  header img:first-child {
    margin-left: 25px;
    margin-right: 18px;
    width: 50px;
    height: 50px;
  }

  header img:last-child {
    margin-right: 25px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }

  .botons {
    margin-bottom: 1.5rem;
  }

  .botons .equipment-2 {
    margin: 15px auto;
  }

  .ubicate-img {
    display: block;
  }

  .ubicate-img img {
    width: 300px;
  }

  .ubicate-img img {
    margin-top: 10px;
  }

  .footer-page ul {
    flex-direction: column;
    gap: 5px;
    width: 60%;
  }

  .footer-page ul li {
    font-size: 15px;
  }

  .footer-page ul li:nth-child(1) {
    width: 120px;
  }

  .footer-page ul li:nth-child(2) {
    width: 120px;
  }

  .footer-page ul li:nth-child(3) {
    width: 100px;
  }

  .footer-page ul li:nth-child(4) {
    width: 100px;
  }

  footer-page div {
    width: 40%;
  }

  .footer-page img {
    width: 100px;
    margin: 32px auto;
  }
}

@media (max-width: 320px) {
  h1 {
    padding: 12px 5px;
    font-size: 20px;
  }
}
